# PyCharm
.idea/
*.iml

# Python / Jupyter / Cache
__pycache__/
**/__pycache__/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.pyc

# Documentos temporários
.virtual_documents/
**/.virtual_documents/
# Ambientes / Anaconda
anaconda_projects/
**/anaconda_projects/

# Streamlit
.streamlit/secrets.toml
.streamlit/*
app/.streamlit/
